<div class="alpha_index">
    <a href="/index/A">A</a>
    <a href="/index/B">B</a>
    <a href="/index/C">C</a>
    <a href="/index/D">D</a>
    <a href="/index/E">E</a>
    <a href="/index/F">F</a>
    <a href="/index/G">G</a>
    <a href="/index/H">H</a>
    <a href="/index/I">I</a>
    <a href="/index/J">J</a>
    <a href="/index/K">K</a>
    <a href="/index/L">L</a>
    <a href="/index/M">M</a>
    <a href="/index/N">N</a>
    <a href="/index/O">O</a>
    <a href="/index/P">P</a>
    <a href="/index/Q">Q</a>
    <a href="/index/R">R</a>
    <a href="/index/S">S</a>
    <a href="/index/T">T</a>
    <a href="/index/U">U</a>
    <a href="/index/V">V</a>
    <a href="/index/W">W</a>
    <a href="/index/X">X</a>
    <a href="/index/Y">Y</a>
    <a href="/index/Z">Z</a>
    </div>
