{{#if currentUser}}
<div class="nav_background">
<ul class="navbar-nav">
    <li><a href="/user-profile/{{currentUser.username}}"><button type="login_button" class="btn btn-lg">My Profile</button></a></li>
    <li><a href="/"><img src="/imgs/yarn_logo.png" alt=""></a></li>
     <li><a href="/logout"><button type="login_button" class="btn btn-lg">Logout</button></a></li>
  </ul>
<div class="new_story_container">
     <a href="/starters/new#new"><button type="login_button" class="btn btn-lg btn-block">Begin a new story</button></a>
</div>
 </ul>

{{else}}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="/login#login"><button type="login_button" class="btn btn-lg">Login</button></a>
        <a href="/"><div id="sketch-holder"></div></a>
        <a href="/sign-up#signup"><button type="signup_button" class="btn btn-lg">Sign up</button></a>
          </ul>
    </div>
    </div>
    </div>

    </nav>
{{#if landing}}
    <div class="nav_background">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
<div class="synopsis">
    <h3>Yarn is a shared story platform where people write stories together.</h3>
</div>
<ul class="nav navbar-nav navbar-right">
      <li><a href="/#finished"><button type="login_button" class="btn btn-lg">Check out the finished stories!</button></a></li>
      <li><a href="/#inProgress"><button type="signup_button" class="btn btn-lg">Check out stories in progress!</button></a></li>
    </ul>
</div>
</div>
</nav>
</div>
{{/if}}
{{/if}}
</div>
