<div class="nav_background">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="/">
          <img src="imgs/yarn_logo.png" alt="">
      </a> -->
      <!-- <a href="/"><img src="imgs/yarn_logo.png" alt=""></a> -->
      <a href="/"><div id="sketch-holder">
         </div></a>
    </div>
    </div>
    </div>
    </nav>

    <div class="nav_background">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
<div class="synopsis">
    <h3>Yarn is a shared story platform where people write stories together.</h3>
</div>
</div>
</div>
</div>
</nav>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          <li><a href="/user-profile/{{currentUser.username}}"><button type="login_button" class="btn btn-lg">My Profile</button></a></li>
            <!-- <li><a href="/user-profile/{{currentUser.username}}">{{currentUser.username}}</a></li> -->
            <li><a href="/logout"><button type="login_button" class="btn btn-lg">Logout</button></a></li>
            <!-- <li><a href="/logout">Logout</a></li> -->
          {{else}}
          <li><a href="/login"><button type="login_button" class="btn btn-lg">Login</button></a></li>
          <li><a href="/sign-up"><button type="signup_button" class="btn btn-lg">Sign up</button></a></li>
            <!-- <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li> -->
          {{/if}}
        </ul>

    {{#if currentUser}}

    <div class="new_story_container">
    <ul class="nav navbar-nav navbar-right">
         <li><a href="/starters/new"><button type="login_button" class="btn btn-lg btn-block">Begin a new story</button></a></li>
     </ul>
    </div>
    {{/if}}
    </div>
  </div>
</nav>
</div>
