<div class="col-xs-12 comment-indent">
    <p>{{story.content}}</p>
    <p class="text-right">{{story.author.username}}</p>
    <a href="/posts/{{postId}}/storys/{{story._id}}/replies/new">IDK it used to say 'Reply'</a>
</div>
