<div class="col-xs-12 comment-indent">
    <p>{{thread.content}}</p>
    <p class="text-right">{{thread.author.username}}</p>
    <a href="/starters/{{starterId}}/threads/{{thread._id}}">IDK it used to say 'Reply'</a>
</div>
