<div class="row">
      <h2>The thread cannot be blank.</h2>
      <h2>Please delete your thread if you'd prefer to remove it entirely.</h2>
      <h2>Warning: If your thread is the starter of the story, deleting it will delete the entire story.</h2>
      <h2>A story can begin in 'medias res,' but it must begin somewhere...</h2>
      <a href="/starters/{{starter._id}}" class="btn btn-primary navbar-btn">Back</a>
</div>
