<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
      <h2>Must submit a title and a story starter.</h2>
      <a href="/starters/new" class="btn btn-primary navbar-btn">Back</a>
  </div>
</div>
