<div class="row">
  <!-- <div class="col-sm-4 col-sm-offset-4"> -->
      <div class="titleContainer"> <h1>{{starter.title}}</h1> </div>
      <h2>{{authors}}</h2>
      <h4><pre>{{story}}</pre></h4>
      <!-- <a href="/starters/new" class="btn btn-primary navbar-btn">Back</a> -->
  <!-- </div> -->
</div>

<div class="getStoryIcon">
<a href="/starters/{{starter._id}}">
    <img class="logo" src='https://image.flaticon.com/icons/svg/1581/1581847.svg'>
</a>
</div>
