<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/starters/{{starter._id}}?_method=PUT">
        <fieldset>
    <h1>Edit</h1>
    <legend>Please... start again, from the beginning...</legend>

    <h2>{{starter.title}}</h2>

    <label for="starter-content"></label>
    <input type="text" name="content" class="form-control" id="starter-content" placeholder="{{starter.content}}">

  </fieldset>

      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save changes!</button>
      </div>
    </form>

    <div>
     <span style="float:right">
     <p><form method="POST" action="/starters/{{starter._id}}?_method=DELETE">
         <button class="btn btn-primary" type="submit">Delete ENTIRE Story Thread</button>
     </form></p></span>
   </div>

  </div>
</div>
