<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/starters/new" method="post">
      <legend>New story</legend>
      <div class="form-group">
        <label for="starter-name"></label>
        <input type="text" name="name" class="form-control" id="starter-name" placeholder="Begin your tale...">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
