<div class="row">
      <div class="titleContainer"> <h1>{{starter.title}}</h1> </div>
      <h2>{{authors}}</h2>
      <h4><pre>{{story}}</pre></h4>
</div>

<div class="getStoryIcon">
<a href="/">
    <img class="logo" src='https://image.flaticon.com/icons/svg/1581/1581847.svg'>
</a>
</div>
