<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/starters/new" method="post">
      <legend>New story</legend>
      <div class="form-group">
          Your story begins here with a single line, or a paragraph. A synopsis, a premise, a haiku, anything!
          A single word can cause an avalanche! Now go! Write and never look back!
          <label for="starter-title"></label>
          <input type="text" name="title" class="form-control" id="starter-title" placeholder="Your story needs a title, even a 'working one'...">

        <label for="starter-content"></label>
        <input type="text" name="content" class="form-control" id="starter-content" placeholder="Begin your tale here...">

      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
