<div class="row">

    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each user.starters}}
            <li class="list-group-item">
                <div class="lead">
                    here
             <a href="/starters/{{this._id}}">{{this.name}}</a>
             </div>

                <div class="right">
                  <a href="user-profile/{{this.author.username._id}}">{{this.author.username}}</a>

            </li>
            {{/each}}
        </ul>
    </div>

</div>
