<div class="row">

    <div class="col-sm-8 col-sm-offset-2">

        <h1>{{user.username}}</h1>

        <div>Number of stories started: {{user.starters.length}}</div>
        <div>User since: {{date}}</div>
    </div>

</div>
