body{

    /* background-image: linear-gradient(#9a7dc6, #ffffff); */

    /* background-image: linear-gradient(#124B80, #2264A2); */
    /* background-image: url("/imgs/background_copy.jpg"); */
    /* background-color: yellow */
    background-color: #9a7dc6;
}

img {
    /* transform: scale(45vw); */
    margin: 5vw;
}

/* .login_button{
    margin-left: 2vw;
}

.signup_button{
    margin-right: 2vw;
} */

button {
    min-width: 10vw;
    min-height: 5vw;
    margin: 2vw;
    margin-right: 9vw;

    color: #ecfda9;
    /* background-color: Transparent; */
    /* background-color: #ecfda9; */
    border-color: #ecfda9;
    border-radius: 5vw;
}

button:hover {
  background: #ecfda9;
}

.site_name_container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.site_name{
    font-size: 7vw;
    font-family: arial;
    margin-left: 5vw;
}

.comment-indent {
  margin-left: 1vw;
  font-size: 10pt;
}

.card{
    display: flex;
    align-content: center;
    justify-content: center;
}

.titleContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}

.edit{
    margin: 3vw;
}

h1{
    align-self: center;
    margin-bottom: 3vw;
}

h2{
    margin: 3vw;
}

.synopsis{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-shrink: center;
    background-image: linear-gradient(#124B80, #2264A2);
    /* background-color: #9a7dc6; */
}

h3{
    font-style: normal;
    font-family: Avantgarde;
    color: #ffffff;
    margin: 5vw;
    margin-right: 5vw;
    justify-content: center;
    font-size: 35px;
    text-align: center;

    /* text-indent: 3vw; */
}

.lead{
      font-size: 15pt;
}

p{
    color: black !important;
}

p:not(.text-right):hover{
    color: white !important;
    background-color: black;
}

.getStoryIcon{
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo{
transform: scale(.2);
}

.navbar{
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(#124B80, #2264A2);
    /* border-color: #ecfda9; */
    margin: -2vw;
    border-color: Transparent;
}

.navbar_buttons{
    display: flex;
    align-content: center;
    justify-content: center;
}

.nav_background{
    /* margin:5vw; */
    background-color: #124B80;
}

.row{
    /* background-color: blue; */
    /* background-image: linear-gradient(#9a7dc6, #ffffff); */
    /* border-radius: 1000px; */
    margin: 5vw;
}

.container{
    /* display: flex; */
    /* align-content: center; */
    /* justify-content: center; */

    /* background-image: linear-gradient(#9a7dc6, #ffffff); */
    /* background-color: yellow; */
    /* margin: 5vw; */
/* background-image: linear-gradient(#9a7dc6, #ffffff); */
}
