body{
    /* background-color: #f9f9f9; */
    background-image: url("/imgs/background_copy.jpg");
}

img {
    max-width: 100%;
    max-height: 100%;
}

.site_name_container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.site_name{
    font-size: 7vw;
    font-family: arial;
    margin-left: 5vw;
}

.comment-indent {
  margin-left: 1vw;
  font-size: 10pt;
}

.titleContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}

.edit{
    margin: 3vw;
}

h1{
    align-self: center;
    margin-bottom: 3vw;
}

h2{
    margin: 3vw;
}

h3{
    margin: 3vw;
    text-indent: 3vw;
}

.lead{
      font-size: 15pt;
}

p{
    color: black !important;
}

p:not(.text-right):hover{
    color: white !important;
    background-color: black;
}

.getStoryIcon{
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo{
transform: scale(.2);
}
